openapi: 3.0.0
info:
  contact:
    email: support@thystreet.com
    name: Support
    url: https://github.com/thystreet/thystreet/discussions
  description: These are API's to easily manage your Thy Street device public pages.
    Thy Street APIs are completely RESTful and all our responses are returned in JSON.
  termsOfService: https://thystreet.com/policies/tos
  title: Thy Street
  version: 0.0.2
  x-logo:
    altText: Thy Street logo
    url: https://thystreet.com/svg/logo.svg
servers:
- description: Thystreet public API for controlling your device details
  url: https://cheffy-api.thystreet.com/api/v1
security:
- thystreetAuth: []
paths:
  /device/details:
    put:
      operationId: setDetails
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetDeviceDetailsDto'
        required: true
      responses:
        "200":
          description: Device status has been successfully enabled.
        "401":
          description: Unauthorized.
        "403":
          description: Forbidden.
      tags:
      - Device
  /device/generate/{deviceId}:
    get:
      operationId: generateToken
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Generate and set new 6 digit token.
        "401":
          description: Unauthorized.
        "403":
          description: Forbidden.
      tags:
      - Device
  /device/token:
    put:
      operationId: setToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceTokenDto'
        required: true
      responses:
        "200":
          description: Device status has been successfully enabled.
        "401":
          description: Unauthorized.
        "403":
          description: Forbidden.
      tags:
      - Device
  /order/params/{orderToken}:
    get:
      operationId: getOrderById
      parameters:
      - description: This is the id recieved from the qrcode
        explode: false
        in: path
        name: orderToken
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Returns order information for the given id
        "401":
          description: Unauthorized.
        "403":
          description: Forbidden.
      tags:
      - Order
  /order/status:
    put:
      operationId: setStatus
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStatusDto'
        required: true
      responses:
        "200":
          description: Updates order status.
        "401":
          description: Unauthorized.
        "403":
          description: Forbidden.
      tags:
      - Order
components:
  callbacks: {}
  examples: {}
  headers: {}
  links: {}
  parameters: {}
  requestBodies: {}
  responses: {}
  schemas:
    DeviceTokenDto:
      example:
        deviceId: deviceId
        token: true
      properties:
        deviceId:
          description: Device ID
          nullable: false
          type: string
        token:
          description: 'Set device token '
          maxLength: 6
          minLength: 6
          nullable: false
          type: boolean
      required:
      - deviceId
      - token
      type: object
    OrderStatusDto:
      example:
        orderId: orderId
        status: CONFIRMED
      properties:
        orderId:
          description: Order ID
          nullable: false
          type: string
        status:
          description: Set order status
          enum:
          - CONFIRMED
          - COMPLETED
          - FAILED
          nullable: false
          type: string
      required:
      - orderId
      - status
      type: object
    SetDeviceDetailsDto:
      example:
        tariff: true
        deviceId: deviceId
      properties:
        deviceId:
          description: Device ID
          nullable: false
          type: string
        tariff:
          description: Toggle device tariff on public page
          nullable: false
          type: boolean
      required:
      - deviceId
      - tariff
      type: object
  securitySchemes:
    thystreetAuth:
      description: Base64 format of api_key:api_secret
      scheme: basic
      type: http
